<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/new.css">
  <title>sinatra</title>
</head>
<body>
<h1>メモアプリ</h1>
  <form action="/memos" method="POST" class="form">
    <input type="text" name="title" required class="title">
    <textarea type="text" name="text" class="text" required></textarea>
    <input type="submit" value="保存" class="submit">
  </form>
</body>
</html>
