<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>sinatra</title>
</head>
<body>
  <div>
  <h1>メモアプリ</h1>
    <a href="/memos/new">
        <button>追加</button>
    </a>
  </div>
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="/memos/<%= memo["id"] %>"><%= memo["title"] %></a></li>
    <% end %>
  </ul>
</body>
</html>
