body {
  padding: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 10px;
}

.headline {
  margin: 0;
}

.title {
  font-size: x-large;
}

.button-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.add-button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: x-large;
}
